<h1 align="center">Contact us here:</h1>

<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

<div class="container" align="center">

<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>

</div>

<div class="container-map" align="center">
<h3>We are located in Grand Rapids, Minnesota</h3>
<iframe width="300" height="300" frameborder="0" style="border:0" 
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDzml8riKzk-NGNuB9vyGjnYLF2iH74MzY&q=21525 Mishawaka Rd, Grand Rapids, MN 55744"
allowfullscreen>
</iframe> 
</div>
