<div class="jumbotron-mission">
	</div>
    <h1 align="center">Our Mission</h1> 
    <p style="font-size:20px">We strive to provide a healthy, safe and unqiue environment, where your pre-teen can learn more about themselves and nature.</p>  
    <p style="font-size:16px">What B.R.A.T.s stands for:
    	B - becoming
    	R - really
    	A - awesome
    	T - teens
    </p>

